# Core dependencies
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
psycopg2-binary==2.9.9  # Driver PostgreSQL pré-compilado
aiohttp==3.9.3  # Para requisições assíncronas
pydantic==2.3.0  # Versão mais estável sem necessidade de Rust
email-validator==2.0.0  # Para suporte a email
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
sqlalchemy==2.0.23
python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.2
